pip
pandas
openpyxl
html5lib
xlrd
matplotlib
ipython
nltk
notebook
scikit-learn
celery
numpy
spacy
gunicorn
flask
joblib
lxml
seaborn
ipywidgets
itables
markdown
openai
panel
simplejson
tiktoken
jsonschema
