aiohappyeyeballs==2.4.3 ; python_version >= "3.10" and python_full_version <= "3.13.0"
aiohttp==3.11.3 ; python_version >= "3.10" and python_full_version <= "3.13.0"
aiosignal==1.3.1 ; python_version >= "3.10" and python_full_version <= "3.13.0"
annotated-types==0.7.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
async-timeout==5.0.1 ; python_version >= "3.10" and python_version < "3.11"
attrs==24.2.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
bleach==6.2.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
blis==0.7.11 ; python_version >= "3.10" and python_full_version <= "3.13.0"
bokeh==3.3.4 ; python_version >= "3.10" and python_full_version <= "3.13.0"
catalogue==2.0.10 ; python_version >= "3.10" and python_full_version <= "3.13.0"
certifi==2024.8.30 ; python_version >= "3.10" and python_full_version <= "3.13.0"
charset-normalizer==3.4.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
clause-segmenter==0.1.1 ; python_version >= "3.10" and python_full_version <= "3.13.0"
click==8.1.7 ; python_version >= "3.10" and python_full_version <= "3.13.0"
cloudpathlib==0.20.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
colorama==0.4.6 ; python_version >= "3.10" and python_full_version <= "3.13.0" and (platform_system == "Windows" or sys_platform == "win32")
confection==0.1.5 ; python_version >= "3.10" and python_full_version <= "3.13.0"
contourpy==1.3.1 ; python_version >= "3.10" and python_full_version <= "3.13.0"
cycler==0.12.1 ; python_version >= "3.10" and python_full_version <= "3.13.0"
cymem==2.0.8 ; python_version >= "3.10" and python_full_version <= "3.13.0"
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz ; python_version >= "3.10" and python_full_version <= "3.13.0"
et-xmlfile==2.0.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
fonttools==4.55.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
frozenlist==1.5.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
idna==3.10 ; python_version >= "3.10" and python_full_version <= "3.13.0"
jinja2==3.1.4 ; python_version >= "3.10" and python_full_version <= "3.13.0"
jsonschema-specifications==2024.10.1 ; python_version >= "3.10" and python_full_version <= "3.13.0"
jsonschema==4.19.2 ; python_version >= "3.10" and python_full_version <= "3.13.0"
kiwisolver==1.4.7 ; python_version >= "3.10" and python_full_version <= "3.13.0"
langcodes==3.4.1 ; python_version >= "3.10" and python_full_version <= "3.13.0"
language-data==1.2.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
linkify-it-py==2.0.3 ; python_version >= "3.10" and python_full_version <= "3.13.0"
lxml==5.3.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
marisa-trie==1.2.1 ; python_version >= "3.10" and python_full_version <= "3.13.0"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
markdown==3.7 ; python_version >= "3.10" and python_full_version <= "3.13.0"
markupsafe==3.0.2 ; python_version >= "3.10" and python_full_version <= "3.13.0"
matplotlib==3.7.5 ; python_version >= "3.10" and python_full_version <= "3.13.0"
mdit-py-plugins==0.4.2 ; python_version >= "3.10" and python_full_version <= "3.13.0"
mdurl==0.1.2 ; python_version >= "3.10" and python_full_version <= "3.13.0"
multidict==6.1.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
murmurhash==1.0.10 ; python_version >= "3.10" and python_full_version <= "3.13.0"
numpy==1.24.4 ; python_version >= "3.10" and python_full_version <= "3.13.0"
openai==0.28.1 ; python_version >= "3.10" and python_full_version <= "3.13.0"
openpyxl==3.1.5 ; python_version >= "3.10" and python_full_version <= "3.13.0"
packaging==24.2 ; python_version >= "3.10" and python_full_version <= "3.13.0"
pandas==1.5.3 ; python_version >= "3.10" and python_full_version <= "3.13.0"
panel==1.3.8 ; python_version >= "3.10" and python_full_version <= "3.13.0"
param==2.0.2 ; python_version >= "3.10" and python_full_version <= "3.13.0"
pillow==11.0.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
plotly==5.24.1 ; python_version >= "3.10" and python_full_version <= "3.13.0"
preshed==3.0.9 ; python_version >= "3.10" and python_full_version <= "3.13.0"
propcache==0.2.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
pydantic-core==2.23.4 ; python_version >= "3.10" and python_full_version <= "3.13.0"
pydantic==2.9.2 ; python_version >= "3.10" and python_full_version <= "3.13.0"
pygments==2.18.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
pyparsing==3.2.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
python-docx==1.0.1 ; python_version >= "3.10" and python_full_version <= "3.13.0"
pytz==2024.2 ; python_version >= "3.10" and python_full_version <= "3.13.0"
pyviz-comms==3.0.3 ; python_version >= "3.10" and python_full_version <= "3.13.0"
pyyaml==6.0.2 ; python_version >= "3.10" and python_full_version <= "3.13.0"
referencing==0.35.1 ; python_version >= "3.10" and python_full_version <= "3.13.0"
regex==2024.11.6 ; python_version >= "3.10" and python_full_version <= "3.13.0"
requests==2.32.3 ; python_version >= "3.10" and python_full_version <= "3.13.0"
rich==13.9.4 ; python_version >= "3.10" and python_full_version <= "3.13.0"
rpds-py==0.21.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
seaborn==0.13.2 ; python_version >= "3.10" and python_full_version <= "3.13.0"
setuptools==75.5.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
shellingham==1.5.4 ; python_version >= "3.10" and python_full_version <= "3.13.0"
six==1.16.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
smart-open==7.0.5 ; python_version >= "3.10" and python_full_version <= "3.13.0"
spacy-legacy==3.0.12 ; python_version >= "3.10" and python_full_version <= "3.13.0"
spacy-loggers==1.0.5 ; python_version >= "3.10" and python_full_version <= "3.13.0"
spacy==3.7.5 ; python_version >= "3.10" and python_full_version <= "3.13.0"
srsly==2.4.8 ; python_version >= "3.10" and python_full_version <= "3.13.0"
tenacity==9.0.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
thinc==8.2.5 ; python_version >= "3.10" and python_full_version <= "3.13.0"
tiktoken==0.5.2 ; python_version >= "3.10" and python_full_version <= "3.13.0"
tornado==6.4.1 ; python_version >= "3.10" and python_full_version <= "3.13.0"
tqdm==4.67.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
typer==0.13.1 ; python_version >= "3.10" and python_full_version <= "3.13.0"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_full_version <= "3.13.0"
uc-micro-py==1.0.3 ; python_version >= "3.10" and python_full_version <= "3.13.0"
urllib3==2.2.3 ; python_version >= "3.10" and python_full_version <= "3.13.0"
wasabi==1.1.3 ; python_version >= "3.10" and python_full_version <= "3.13.0"
weasel==0.4.1 ; python_version >= "3.10" and python_full_version <= "3.13.0"
webencodings==0.5.1 ; python_version >= "3.10" and python_full_version <= "3.13.0"
wrapt==1.16.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
xyzservices==2024.9.0 ; python_version >= "3.10" and python_full_version <= "3.13.0"
yarl==1.17.2 ; python_version >= "3.10" and python_full_version <= "3.13.0"
